.center{
    height: 70vh;
    position: relative }
.center p {
    margin: 0;
    position: absolute;
    font-size: 5vw;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }
.index_img{
    position: absolute;
    width: 80%;
    top: -20px;
    left: 10%;
}
.gr{
    width: 80%;
    max-width: 50vh;
    top: -20px;
    left: 10%;
}